
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

#feed-header {
    background-color: #f8dfe1;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

#home-header {
    margin-top: 10%;
    background-color: #f8dfe1;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid #d1c2bb;
    text-align: center;
}
#vertical-feed-img{
    width: 50%;
}
.landscape-img{
    width: 95%;
}

#home-body{
    background-color: #f4c9d6;  
}

#home-h3{
    color:#ea9ba2;
    font-family: "VT323", monospace;
    text-align: center;
}

#h3-nav{
    color: #ea9ba2;
    font-family:  "Meow Script", cursive;
    font-size: 32px;
    text-align: center;

}

h1 {
    color: #3e2723;
    font-family: "Meow Script", cursive;
    font-size: 72px;
    text-align: center;
}

h2 {
    color: #ea9ba2;
    font-family: "VT323", monospace;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: #ea9ba2;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h4, h5, h6 {
    color: #614b49;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.brown-header {
    color: #614b49;
    font-family: "Meow Script", cursive;
    font-size: 40px;
    text-align: center;
}
a:visited{
    color: #614b49;
}

a:hover {
    color: #e8f0a2;
}

.video {
    width:320px;
}

body{
    cursor: url('../img/media/cursor.png'), auto;
    background-color: #f4c9d6;  
    font-family: "Inter", sans-serif;
    background-image: url('../img/media/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
    font-family: "VT323", monospace;
    color: #614b49;;
    font-size: 22px;
}

.nav-text{
    font-family: "VT323", monospace;
    color: #ea9ba2;
    font-size: 22px;
}

#nav-container{
    display:flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#sidebar{
    background-color: #f8dfe1;
    border-radius: 15px;
    border: 5px solid #f4c9d6;
    top: 530px;
    bottom: 60px;
    left: 0;
    width: 25%;
    position: fixed;
    text-align: center; 
}

#fun{
    background-color: #f4c9d6;
    padding: 20px 30px 20px 30px;  
    border-radius: 15px;
    border: 5px solid #f8dfe1;
    margin: 30px 15% 30px auto; 
    width: 50%;
    text-align: center;
}

#work{
    background-color: #f8dfe1;
    padding: 20px 30px 20px 30px;  
    border-radius: 15px;
    border: 5px solid #f4c9d6;
    margin: 30px 15% 30px auto; 
    width: 50%;
    text-align: center;
}


#organization{
    background-color: #d1c2bb;
    padding: 20px 30px 20px 30px;  
    border-radius: 15px;
    border: 5px solid #f1e2e9;
    margin: 30px 15% 30px auto; 
    width: 50%;
    text-align: center;
}

.soft-corners{
    border-radius: 15px;
}

#star-sticker {
    position: absolute;
    top: 20px;         
    right: 20px;       
    width: 120px;
    height: auto;
    z-index: 10;       
}
#star-sticker2 {
    position: absolute;
    top: 365px;         
    left: 20px;       
    width: 120px;
    height: auto;
    z-index: 10;       
}

#kiss-sticker {
    position: absolute;
    top: 6235px;         
    left: 500px;       
    width: 120px;
    height: auto;
    z-index: 10;       
}

#heart-sticker {
    position: absolute;
    top: 9100px; 
    right: 120px;       
    width: 120px;
    height: auto;
    z-index: 10;       
}


#drawing-sticker {
    position: absolute;
    right: 100px;       
    width: 120px;
    height: auto;
    z-index: 10;       
}